@{
  Layout = "_Layout";
}

@using PierresVendorMgmt.Models;
  <h1 class="jumbotron">Current Vendors of Pierre's Handcrafted Baked Goods</h3>
<div class="container">

  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li id="orders"><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
  </ol>

  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order:</a></p><br>
  <p><a href='/vendors'>Return to Vendors</a></p><br>
  <p><a href='/'>Return to Main Page</a></p>
</div>